@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#dialog__login {
    border: none !important;
    border-radius: 15px;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    padding: 1.6rem;
    width: 500px;
    margin: auto;
}
.dialog__header{
    display: flex;
    justify-content: flex-end;
}
.dialog__header span{
    cursor: pointer;
}
#form__login{
    background: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div__title{
    background: violet;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
}
.div__input{
    background: blue;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div__input div{
    background: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.div__button{
    background: beige;
    display: flex;
    flex-direction: column;
}